#page-profile .page-header ~ .container {
  display: flex;
}

aside.card {
  background: var(--color-card-background);
  color: var(--color-card-title);

  border: 1px solid var(--color-aside-border);
  border-radius: 0.313rem;

  width: 22rem;

  margin-right: 8rem;

  text-align: center;

  padding: 3.875rem 4.625rem;
}

aside img {
  border-radius: 50%;

  border: 0.25rem var(--color-secondary) solid;

  width: 11.25rem;
  height: 11.25rem;

  margin-bottom: 1.5rem;
}

aside h2 {
  font-family: IBM Plex Sans;
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 1.875rem;

  margin-bottom: 3.875rem;
}

aside p {
  margin-bottom: 1.75rem;

  font-family: Inter;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.875rem;
}

main {
  flex: 1;
}

#dark-mode-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

#dark-mode-button p {
  color: var(--color-card-title);
  display: inline-block;
  margin-right: 1.5rem;
}

#dark-mode-button label {
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: var(--color-mode-switcher);
  float: right;
  border-radius: 100px;
  position: relative;
  margin: 0;
}

#dark-mode-button label::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

#switch:checked + label::before {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}
